.caption {
    font-size: rem(48px);
    color: #333333;
    width: 100%;
    text-align: center;
}

.caption_color_wh {
    font-size: rem(48px);
    color: #fff;
}

.caption_color_blue {
    font-size: rem(48px);
    color: $bgblue;
}