.store {
	display: flex;
	flex-direction: column;
	align-items: center;

	&-text {
		font-family: 'Mont-Light';
		font-size: rem(36px);
		color: $bgblue;
		text-align: center;
		margin-bottom: rem(24px);

		@include vertical {
			font-size: rem(24px);
		}
	}
	&-btns {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.store-text_color {
    color: #ffffff;    
}

.store-btns__item {
	display: flex;
	border-radius: rem(5px);
	margin-right: rem(20px);	
	&:last-child {
		margin-right: 0;
	}
}
// при добавлении ссылок на картинки раскомментировать код и закомментить фиксированные размеры картинок, включая медиа-запросы.

// .store-btns__link {
// 	width: rem(200px);
// 	height: rem(65px);

// 	@include tablets {
// 		width: rem(179px);
// 		height: rem(58px);
// 	}
// 	@include vertical {
// 		width: rem(130px);
// 		height: rem(41px);
// 	}
// }

.store-btns__iphone {
	background: url(../img/icons/appstore.png) no-repeat;
	background-position: center;
	background-size: cover;
	// max-width: 100%;
	// max-height: 100%;
	width: rem(200px);
	height: rem(65px);

	@include tablets {
		width: rem(179px);
		height: rem(58px);
	}
	@include vertical {
		width: rem(130px);
		height: rem(41px);
	}
}

.store-btns__iphone_bl {
	background: url(../img/icons/appstore_black.png) no-repeat;
	background-position: center;
	background-size: cover;
}

.store-btns__google {
	background: url(../img/icons/googleplay.png) no-repeat;
	background-position: center;
	background-size: cover;
	// max-width: 100%;
	// max-height: 100%;
	width: rem(200px);
	height: rem(65px);


	@include tablets {
		width: rem(179px);
		height: rem(58px);
	}
	@include vertical {
		width: rem(130px);
		height: rem(41px);
	}
}

.store-btns__google_bl {
	background: url(../img/icons/googleplay_black.png) no-repeat;
	background-position: center;
	background-size: cover;	
}

.store-btns__text {
	font-family: "Mont-Light";
	text-align: center;
	color: #ffffff;
}

.store-btns__descrip {
	text-align: left;
	font-size: rem(10px);
}

.store-btns__name {
	max-width: 100%;
	font-size: rem(24px);
}

.store-btns__name_size {
	font-size: rem(18px);
}