.about {
    min-height: 100%;
    background-color: $bgblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: rem(50px);
}

.about-container {
    width: rem(955px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.about-list {
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin-top: -250px;
    position: relative;
    margin-bottom: rem(66px);

    @include desktop {
        margin-top: -200px;  
    }

    @include phones {
        justify-content: center;
        transform: translateX(10px);
    }

    @include vertical {
        margin-bottom: rem(16px);
    }
}

.about-list__container {
    margin-top: 30px;
}

.about-list__container_margin {
    margin-top: 0;    
}
.about-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
    margin-right: rem(30px);
    background-color: #fff;
    box-shadow:  0 4px 50px rgba(0,0,0, 0.25);
    padding: rem(42px) rem(22px) rem(25px) rem(21px);
    border-radius: rem(40px);
    z-index: 10;
}

.about-list__img {
    display: block;
    width: rem(250px);
    height: rem(444px);
    margin-bottom: rem(18px);

    @include phones {
        width: rem(200px);
        height: rem(364px);
    }

    @include vertical {
        width: rem(150px);
        height: rem(282px);
    }
}

.about-list__btn {
    width: rem(67px);
    height: rem(19px);
    border: 1px solid #E0E0E0;
    border-radius: 20px;
    background-color: #fff;
}

.about-title {
    color: #fff;
    font-size: rem(48px);
    margin-bottom: rem(28px);

    @include vertical {
        font-size: rem(24px);
        width: rem(170px);
        text-align: center;
    }
}

.about-text {
    font-size: rem(18px);
    color: #fff;
    text-align: center;
    margin-bottom: rem(41px);

    @include laptop {
        padding: 0 17%;
    }
    @include tablets {
        padding: 0 24%;
    }

    @include phones {
        padding: 0 28%;
    }

    @include vertical {
        padding: 0 30%;
        font-size: rem(14px);    
    }
}

.about-socials {
	display: flex;
    justify-content: center;
}