.desktop {
    background-color: #ffffff;
    height: 100%;
    min-height: rem(625px);
    padding-top: rem(103px);

    @include desktop {
        min-height: rem(525px);
    }

    @include tablets {
        min-height: rem(425px);
    }

    @include tablets {
        min-height: rem(375px);
    }

    @include vertical {
        min-height: rem(325px);
    }

    &-title {
        display: flex;
        justify-content: center;
    }
}