.features {
    background-color: $bgblue;
	display: flex; 
	flex-direction: column;
    // min-height: 100vh;
    height: 100%;
    padding-top: rem(236px);
    position: relative;

    @include desktop {
        padding-top: 30%;
    }
    @include laptop {
        padding-top: 25%;
    }
    
    @include tablets {
        padding-top: 38%;    
    }
    @include phones {
        padding-top: 22%;    
    }

    @include vertical {
        padding-top: 40%;    
    }
}

.features-img {
    width: rem(900px);
    height: rem(645px);
    position: absolute;
    top: -12%;
    left: 51%;
    transform: translate(-50%, -51%);

    @include desktop {
        top: -4%;
    }
    @include laptop {
        width: rem(670px);
        height: rem(549px);
        top: -7%;
    }
    @include tablets {
        width: rem(566px);
        height: rem(478px);
        top: 3%;
    }
    @include phones {
        width: rem(420px);
        height: rem(478px);
        top: 3%;
    }
    @include vertical {
        width: rem(390px);
        height: rem(478px);
        top: 7%;
    }
}

.features-img__pic {
    background-image: url(../img/icons/desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

.features-title {
    display: flex;
    justify-content: center;
    margin-bottom: rem(57px);

    @include phones {
        margin-bottom: rem(40px);
    }
 
}

.features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    padding: 0 rem(162px);

    @include desktop {
        padding: 0 rem(75px);
    }
    
    @include tablets {
        padding: 0 rem(35px);
	}
    
    &__item {
        display: flex;
        max-width: rem(600px);
        width: 46%;
        margin-bottom: rem(104px);
        margin-right: rem(25px);        

        @include desktop {
            width: 45%;
        }
        @include laptop {
            flex-direction: column;
            align-items: center;
            margin-bottom: rem(34px); 
            text-align: center;
            width: 40%;
            transform: translateX(10px);    
        }
        @include vertical {
            width: 100%;
            transform: none;
            margin-right: 0;        
        }
    }
}

.features-list__img {
    margin-right: rem(20px);

    @include laptop {
        margin-right: rem(20px);
        margin-bottom: rem(40px);
    }

    @include tablets {
        margin-right: rem(20px);
        margin-bottom: rem(40px);
    }
    @include phones {
        margin-right: 0;        
    }

    @include vertical {
        margin-bottom: rem(20px);
    }
}

.features-list__pic {
    width: rem(101px);
    height: rem(101px);

    @include tablets {
        width: rem(90px);
        height: rem(90px);
    }

    @include phones {
        width: rem(70px);
        height: rem(70px);
    }
}

.features-list__description {
    font-size: rem(14px);
    color: #ffffff;
}