.features {
    background-color: $bgblue;
	display: flex; 
	flex-direction: column;
    min-height: 100vh;
    padding-top: rem(236px);
    position: relative;
    
    @include tablets {
        padding-bottom: rem(58px);
        padding-top: rem(186px);    
    }
}

.features-img {
    width: rem(900px);
    height: rem(645px);
    position: absolute;
    top: -12%;
    left: 51%;
    transform: translate(-50%, -51%);

    @include desktop {
        top: -4%;
    }
    @include tablets {
        width: rem(656px);
        height: rem(498px);
        top: -7%;
    }
}

.features-img__pic {
    background-image: url(../img/icons/desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100%;
}

.features-title {
    display: flex;
    justify-content: center;
    margin-bottom: rem(57px);

    @include tablets {
        display: none;
    } 
}

.features-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;    
    padding: 0 rem(100px) 0 rem(122px);

    @include desktop {
        padding: 0 rem(75px);
    }
    
    @include tablets {
        padding: 0 rem(35px);
	}
    
    &__item {
        display: flex;
        max-width: rem(600px);
        width: 50%;
        margin-bottom: rem(104px);

        @include desktop {
            width: 45%;
        }
        @include tablets {
            flex-direction: column;
            align-items: center;
            margin-bottom: rem(34px); 
            text-align: center;
        }
    }
}

.features-list__img {
    width: rem(101px);
    height: rem(101px);
    margin-right: rem(20px);

    @include tablets {
        width: rem(60px);
        height: rem(60px);
        margin-right: rem(00px);
        margin-bottom: rem(20px);
        
    } 
}

.features-list__pic {
    // width: 100%;
    // height: 100%;
    // max-width: 100%;
    // max-height: 100%;

    width: rem(60px);
    height: rem(60px);
}

.features-list__description {
    font-size: rem(14px);
    color: #ffffff;
}