.market {
    background-color: #fff;
    height: 100%;
    min-height: 100vh;
    padding-top: rem(71px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;

    &-container {
        width: rem(635px);
        position: relative;
    
        &-title {
            margin-bottom: rem(65px);
        }
        &-phones {
            width: 100%;            
            display: flex;
            justify-content: flex-end;            
            position: relative;
        }
    }
}

.market-phones__item {

    display: flex;
    justify-content: flex-end;
    z-index: 10;
    position: relative;

    @include tablets {
        width: rem(304px);
        height: rem(570px);
    }
    @include phones {
        width: rem(284px);
        height: rem(490px);
    }
}

.market-phones__img {
    max-width: 100%;
    max-height: 100%;
}

.market-phones__item_size {
    @include tablets {
        transform: translateX(230px);
    }
    @include phones {
        transform: translateX(210px);
    }
}

.market-phones__item_absolute {
    position: absolute;
    top: 245px;
    left: 40px;
    z-index: -1;

    @include tablets {
        top: 160px;
        left: 10%;
    }
    @include phones {
        top: 150px;
        left: 13%;        
    }
}

.market-socials {
    position: absolute;
    top: 64%;
    right: 1%;

    @include desktop {
        right: 0;
    }

    @include laptop {
        display: none;
    }
}

