.vote {
	display: flex;
    flex-direction: column;
    align-items: center;
    // min-height: 100vh;
    min-height: 100%;
    position: relative;
    padding-top: rem(54px);   
    background: url(../img/content/vote.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: rem(1140px);
    width: 100%;
    display: flex;
    

     &-title {
        display: flex;
        justify-content: center;
        font-size: rem(48px);
        color: $bgblue;        

        @include tablets {
            font-size: rem(30px);
        }
    }
    &-container {
    }
}

.vote-wrapper {
    display: flex;
    margin: 0 auto;
    // transform: translateX(-17%);
}

.vote-screen {
    margin-top: -200px;
    display: flex;
    z-index: 500;

    @include desktop {
        bottom: rem(80px);
        left: 0;
    }

    @include tablets {
        font-size: rem(30px);
        margin-left: -200px;
    }
}

.vote-screen__img {

    @include tablets {
        width: rem(180px);
        height: rem(300px);
        font-size: rem(30px);
    }
}

.vote-use {
    width: 100%;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $bgblue;
    padding: rem(50px) 0;

    &__title {
        margin-bottom: rem(31px);

        @include tablets {
            margin-bottom: rem(50px);
        }
    }

    @include desktop {
        padding-left: 20%;
    }
    @include tablets {
        padding-left: rem(25px);
    }
}


.vote-tabs {
    margin-bottom: rem(76px);
}
.tabs-list {
    display: flex;
    justify-content: center;

    @include tablets {
        padding-left: 35%;
    }

    &__item {
        margin-right: rem(50px);
        color: #ffffff;
        font-size: rem(18px);
        padding-bottom: rem(8px);
        cursor: pointer;
        transition: .3s;

        &:last-child {
            margin-right: 0;
            @include tablets {
                visibility: hidden;
            }
        }
        &.active {
            border-bottom: 3px solid #18FFFF;
            transition: .3s;
        }

        @include tablets {
            padding-left: 0;
            // padding-bottom: 0;
            white-space: nowrap;
        }
    }
}

.tabs-content {
    width: rem(750px);
    padding-left: rem(100px);    
    
    &__item {
        color: #ffffff;
        font-size: rem(18px);
        padding-top: rem(35px);

        @include tablets {
            text-align: center;
            padding-right: 15%;
            padding-top: rem(70px);        
        }
    }
}