.vote {
	display: flex;
    flex-direction: column;
    align-items: center;
    // min-height: 100vh;
    min-height: 100%;
    position: relative;
    padding-top: rem(54px);   
    background: url(../img/content/vote.jpg) no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: rem(1140px);
    width: 100%;
    display: flex;
    

     &-title {
        display: flex;
        justify-content: center;
        font-size: rem(48px);
        color: $bgblue;
        
        @include laptop {
            font-size: rem(36px);
        }

        @include tablets {
            font-size: rem(30px);
        }
    }
    &-container {
        max-width: rem(650px);
        display: flex;
        flex-direction: column;

        @include tablets {
            max-width: 100%;
        }
    }
}

.vote-wrapper {
    display: flex;
}

.vote-screen {
    margin-top: -200px;
    display: flex;
    z-index: 100;

    @include desktop {
        bottom: rem(80px);
        left: 0;
    }

    @include tablets {
        font-size: rem(30px);
    }
}

.vote-screen__img {
    // height: rem(500px);

    @include desktop {
        width: rem(292px);
        height: rem(500px);
    }

    @include laptop {
        width: rem(220px);
        height: rem(350px);
    }

    @include tablets {
        width: rem(180px);
        height: rem(300px);
    }
}

.vote-use {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $bgblue;
    padding: rem(50px) 0;
    padding-left: 10%;  


    &__title {
        margin-bottom: rem(31px);

        @include tablets {
            margin-bottom: rem(50px);
        }
    }

    @include desktop {
        
        padding-left: 0;
    }
    @include laptop {
        flex-direction: column;
        align-items: center;
    }
}


.vote-tabs {
    margin-bottom: rem(76px);
    padding-left: 12%;

    @include tablets {
        padding-left: 0;
    }
    
}
.tabs-list {
    display: flex;

    @include tablets {
        justify-content: center;
    }

    &__item {
        margin-right: rem(50px);
        color: #ffffff;
        font-size: rem(18px);
        padding-bottom: rem(8px);
        cursor: pointer;
        transition: .3s;

        &:last-child {
            margin-right: 0;
        }
        &.active {
            border-bottom: 3px solid #18FFFF;
            transition: .3s;
        }

        @include tablets {
            padding-left: 0;
            white-space: nowrap;
        }
    }
}

.tabs-content {
    
    &__item {
        color: #ffffff;
        font-size: rem(18px);
        padding-top: rem(35px);

        @include tablets {
            text-align: center;
            padding: 0 5%;
            padding-top: rem(70px);        
        }
    }
}