@font-face {
  font-family: 'Mont-Light';
  src: url(../fonts/Montserrat-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal; }

/*BASIC STYLES*/
* {
  margin: 0;
  padding: 0;
  font: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

a {
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus, *:active, *:hover {
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

html {
  cursor: default; }
  @media screen and (max-width: 600px) {
    html {
      font-size: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 0.8125rem; } }

body {
  font-size: 1rem;
  font-family: "Mont-Light", Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased; }

/*End of Basic Styles*/
.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 18.75rem;
  margin: 0 auto;
  overflow: hidden; }

section {
  width: 100%;
  max-width: 90rem;
  max-width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15); }

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  min-height: 650px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.store {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .store-text {
    font-family: 'Mont-Light';
    font-size: 2.25rem;
    color: #00B8D4;
    text-align: center;
    margin-bottom: 1.5rem; }
    @media screen and (max-width: 320px) {
      .store-text {
        font-size: 1.5rem; } }
  .store-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%; }

.store-text_color {
  color: #ffffff; }

.store-btns__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.3125rem;
  margin-right: 1.25rem; }
  .store-btns__item:last-child {
    margin-right: 0; }

.store-btns__iphone {
  background: url(../img/icons/appstore.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 12.5rem;
  height: 4.0625rem; }
  @media screen and (max-width: 600px) {
    .store-btns__iphone {
      width: 11.1875rem;
      height: 3.625rem; } }
  @media screen and (max-width: 320px) {
    .store-btns__iphone {
      width: 8.125rem;
      height: 2.5625rem; } }

.store-btns__iphone_bl {
  background: url(../img/icons/appstore_black.png) no-repeat;
  background-position: center;
  background-size: cover; }

.store-btns__google {
  background: url(../img/icons/googleplay.png) no-repeat;
  background-position: center;
  background-size: cover;
  width: 12.5rem;
  height: 4.0625rem; }
  @media screen and (max-width: 600px) {
    .store-btns__google {
      width: 11.1875rem;
      height: 3.625rem; } }
  @media screen and (max-width: 320px) {
    .store-btns__google {
      width: 8.125rem;
      height: 2.5625rem; } }

.store-btns__google_bl {
  background: url(../img/icons/googleplay_black.png) no-repeat;
  background-position: center;
  background-size: cover; }

.store-btns__text {
  font-family: "Mont-Light";
  text-align: center;
  color: #ffffff; }

.store-btns__descrip {
  text-align: left;
  font-size: 0.625rem; }

.store-btns__name {
  max-width: 100%;
  font-size: 1.5rem; }

.store-btns__name_size {
  font-size: 1.125rem; }

.caption {
  font-size: 3rem;
  color: #333333;
  width: 100%;
  text-align: center; }
  @media screen and (max-width: 600px) {
    .caption {
      font-size: 2.25rem; } }

.caption_color_wh {
  color: #fff; }
  @media screen and (max-width: 480px) {
    .caption_color_wh {
      font-size: 1.5rem; } }

.caption_color_blue {
  font-size: 3rem;
  color: #00B8D4; }
  @media screen and (max-width: 600px) {
    .caption_color_blue {
      font-size: 2.25rem; } }
  @media screen and (max-width: 320px) {
    .caption_color_blue {
      font-size: 1.5rem; } }

.socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .socials__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem; }
  .socials__link {
    display: block;
    background: url(../img/icons/css_sprites.png) no-repeat;
    width: 44px;
    height: 43px; }

.socials__link-gh {
  background: url("../img/icons/css_sprites.png") -18px -18px; }

.socials__link-tw {
  background: url("../img/icons/css_sprites.png") -98px -18px; }

.socials__link-fb {
  background: url("../img/icons/css_sprites.png") -178px -18px; }

.socials__link-gh_bl {
  background: url("../img/icons/css_sprites.png") -258px -18px; }

.socials__link-tw_bl {
  background: url("../img/icons/css_sprites.png") -338px -18px; }

.socials__link-fb_bl {
  background: url("../img/icons/css_sprites.png") -418px -18px; }

.footer {
  width: 100%;
  background-color: #00B8D4;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-container {
    width: 38.75rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem 0 4.375rem 0; }
    @media screen and (max-width: 900px) {
      .footer-container {
        width: 37.5rem; } }
    @media screen and (max-width: 600px) {
      .footer-container {
        padding: 4.0625rem 0 2.5rem 0;
        width: 30rem; } }
    @media screen and (max-width: 480px) {
      .footer-container {
        padding: 4.0625rem 0 2.5rem 0;
        width: 20.625rem; } }

.footer-title {
  margin-bottom: 2.6875rem; }

.form {
  width: 100%; }
  @media screen and (max-width: 600px) {
    .form {
      margin-bottom: 4.0625rem; } }
  @media screen and (max-width: 480px) {
    .form {
      margin-bottom: 6.25rem; } }
  .form__input {
    width: 100%;
    padding: 0.625rem 2.5rem 0.625rem 0.625rem;
    border: none;
    outline: none;
    font-size: 1.125rem;
    color: #ffffff;
    background-color: #00B8D4;
    border-bottom: 2px solid #fff;
    background-image: url("../img/icons/submit_icon.png");
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: center right; }

::-webkit-input-placeholder {
  color: #00E5FF; }

::-moz-placeholder {
  color: #00E5FF; }

:-moz-placeholder {
  color: #00E5FF; }

:-ms-input-placeholder {
  color: #00E5FF; }

.footer-socials {
  visibility: hidden; }
  @media screen and (max-width: 600px) {
    .footer-socials {
      visibility: visible; } }

.hero {
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2.6875rem;
  min-height: 100vh; }

.hero-logo {
  width: 14rem;
  height: 16.75rem; }

.hero-logo__img {
  max-width: 100%;
  max-height: 100%; }

.hero-text {
  font-family: 'Mont-Light';
  font-size: 2.25rem;
  color: #9B51E0;
  margin-bottom: 2.1875rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    .hero-text {
      font-size: 1.75rem; } }
  @media screen and (max-width: 320px) {
    .hero-text {
      font-size: 1.375rem; } }

.hero-market {
  margin-bottom: 18.75rem; }

.about {
  min-height: 100%;
  background-color: #00B8D4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 3.125rem; }

.about-container {
  width: 59.6875rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.about-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  margin-top: -250px;
  position: relative;
  margin-bottom: 4.125rem; }
  @media screen and (max-width: 1200px) {
    .about-list {
      margin-top: -200px; } }
  @media screen and (max-width: 480px) {
    .about-list {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px); } }

.about-list__container {
  margin-top: 30px; }

.about-list__container_margin {
  margin-top: 0; }

.about-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin-right: 1.875rem;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  padding: 2.625rem 1.375rem 1.5625rem 1.3125rem;
  border-radius: 2.5rem;
  z-index: 10; }

.about-list__img {
  display: block;
  width: 15.625rem;
  height: 27.75rem;
  margin-bottom: 1.125rem; }
  @media screen and (max-width: 480px) {
    .about-list__img {
      width: 12.5rem;
      height: 22.75rem; } }
  @media screen and (max-width: 320px) {
    .about-list__img {
      width: 9.375rem;
      height: 17.625rem; } }

.about-list__btn {
  width: 4.1875rem;
  height: 1.1875rem;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
  background-color: #fff; }

.about-title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1.75rem; }

.about-text {
  font-size: 1.125rem;
  color: #fff;
  text-align: center;
  margin-bottom: 2.5625rem; }
  @media screen and (max-width: 900px) {
    .about-text {
      padding: 0 17%; } }
  @media screen and (max-width: 600px) {
    .about-text {
      padding: 0 24%; } }
  @media screen and (max-width: 480px) {
    .about-text {
      padding: 0 28%; } }
  @media screen and (max-width: 320px) {
    .about-text {
      padding: 0 30%; } }

.about-socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.desktop {
  background-color: #ffffff;
  height: 100%;
  min-height: 39.0625rem;
  padding-top: 6.4375rem; }
  @media screen and (max-width: 1200px) {
    .desktop {
      min-height: 32.8125rem; } }
  @media screen and (max-width: 600px) {
    .desktop {
      min-height: 26.5625rem; } }
  @media screen and (max-width: 600px) {
    .desktop {
      min-height: 23.4375rem; } }
  @media screen and (max-width: 320px) {
    .desktop {
      min-height: 20.3125rem; } }
  .desktop-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.features {
  background-color: #00B8D4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding-top: 14.75rem;
  position: relative; }
  @media screen and (max-width: 1200px) {
    .features {
      padding-top: 30%; } }
  @media screen and (max-width: 900px) {
    .features {
      padding-top: 25%; } }
  @media screen and (max-width: 600px) {
    .features {
      padding-top: 38%; } }
  @media screen and (max-width: 480px) {
    .features {
      padding-top: 22%; } }
  @media screen and (max-width: 320px) {
    .features {
      padding-top: 40%; } }

.features-img {
  width: 56.25rem;
  height: 40.3125rem;
  position: absolute;
  top: -12%;
  left: 51%;
  -webkit-transform: translate(-50%, -51%);
  -ms-transform: translate(-50%, -51%);
  transform: translate(-50%, -51%); }
  @media screen and (max-width: 1200px) {
    .features-img {
      top: -4%; } }
  @media screen and (max-width: 900px) {
    .features-img {
      width: 41.875rem;
      height: 34.3125rem;
      top: -7%; } }
  @media screen and (max-width: 600px) {
    .features-img {
      width: 35.375rem;
      height: 29.875rem;
      top: 3%; } }
  @media screen and (max-width: 480px) {
    .features-img {
      width: 26.25rem;
      height: 29.875rem;
      top: 3%; } }
  @media screen and (max-width: 320px) {
    .features-img {
      width: 24.375rem;
      height: 29.875rem;
      top: 7%; } }

.features-img__pic {
  background-image: url(../img/icons/desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  max-height: 100%; }

.features-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3.5625rem; }
  @media screen and (max-width: 480px) {
    .features-title {
      margin-bottom: 2.5rem; } }

.features-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10.125rem; }
  @media screen and (max-width: 1200px) {
    .features-list {
      padding: 0 4.6875rem; } }
  @media screen and (max-width: 600px) {
    .features-list {
      padding: 0 2.1875rem; } }
  .features-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 37.5rem;
    width: 46%;
    margin-bottom: 6.5rem;
    margin-right: 1.5625rem; }
    @media screen and (max-width: 1200px) {
      .features-list__item {
        width: 45%; } }
    @media screen and (max-width: 900px) {
      .features-list__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 2.125rem;
        text-align: center;
        width: 40%;
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px); } }
    @media screen and (max-width: 320px) {
      .features-list__item {
        width: 100%;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        margin-right: 0; } }

.features-list__img {
  margin-right: 1.25rem; }
  @media screen and (max-width: 900px) {
    .features-list__img {
      margin-right: 1.25rem;
      margin-bottom: 2.5rem; } }
  @media screen and (max-width: 600px) {
    .features-list__img {
      margin-right: 1.25rem;
      margin-bottom: 2.5rem; } }
  @media screen and (max-width: 480px) {
    .features-list__img {
      margin-right: 0; } }
  @media screen and (max-width: 320px) {
    .features-list__img {
      margin-bottom: 1.25rem; } }

.features-list__pic {
  width: 6.3125rem;
  height: 6.3125rem; }
  @media screen and (max-width: 600px) {
    .features-list__pic {
      width: 5.625rem;
      height: 5.625rem; } }
  @media screen and (max-width: 480px) {
    .features-list__pic {
      width: 4.375rem;
      height: 4.375rem; } }

.features-list__description {
  font-size: 0.875rem;
  color: #ffffff; }

.vote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  position: relative;
  padding-top: 3.375rem;
  background: url(../img/content/vote.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 71.25rem;
  width: 100%;
  display: flex; }
  .vote-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 3rem;
    color: #00B8D4;
    text-align: center; }
    @media screen and (max-width: 900px) {
      .vote-title {
        font-size: 2.25rem; } }
    @media screen and (max-width: 600px) {
      .vote-title {
        font-size: 1.625rem; } }
  .vote-container {
    max-width: 40.625rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (max-width: 600px) {
      .vote-container {
        max-width: 100%; } }

.vote-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.vote-screen {
  margin-top: -200px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 100; }
  @media screen and (max-width: 1200px) {
    .vote-screen {
      bottom: 5rem;
      left: 0; } }
  @media screen and (max-width: 600px) {
    .vote-screen {
      font-size: 1.875rem; } }

@media screen and (max-width: 1200px) {
  .vote-screen__img {
    width: 18.25rem;
    height: 31.25rem; } }

@media screen and (max-width: 900px) {
  .vote-screen__img {
    width: 13.75rem;
    height: 21.875rem; } }

@media screen and (max-width: 600px) {
  .vote-screen__img {
    width: 11.25rem;
    height: 18.75rem; } }

.vote-use {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00B8D4;
  padding: 3.125rem 0;
  padding-left: 10%; }
  .vote-use__title {
    margin-bottom: 1.9375rem; }
    @media screen and (max-width: 600px) {
      .vote-use__title {
        margin-bottom: 3.125rem; } }
  @media screen and (max-width: 1200px) {
    .vote-use {
      padding-left: 0; } }
  @media screen and (max-width: 900px) {
    .vote-use {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.vote-tabs {
  margin-bottom: 4.75rem;
  padding-left: 12%; }
  @media screen and (max-width: 600px) {
    .vote-tabs {
      padding-left: 0; } }

.tabs-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 600px) {
    .tabs-list {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  .tabs-list__item {
    margin-right: 3.125rem;
    color: #ffffff;
    font-size: 1.125rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .tabs-list__item:last-child {
      margin-right: 0; }
    .tabs-list__item.active {
      border-bottom: 3px solid #18FFFF;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
    @media screen and (max-width: 600px) {
      .tabs-list__item {
        padding-left: 0;
        white-space: nowrap;
        margin-right: 0; } }

.tabs-list__acco {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  color: #ffffff;
  font-size: 1.125rem;
  text-align: center;
  cursor: pointer;
  padding: 0.9375rem 0;
  border-top: 3px solid #18FFFF; }
  .tabs-list__acco:last-child {
    border-bottom: 3px solid #18FFFF; }
  .tabs-list__acco.active {
    background-color: #00ADC7; }
  .tabs-list__acco.active .tabs-list__text {
    padding: 0.9375rem 0.9375rem 0 0.9375rem;
    height: 100%;
    visibility: visible;
    opacity: 1; }

.tabs-content__item {
  color: #ffffff;
  font-size: 1.125rem;
  padding-top: 2.1875rem; }
  @media screen and (max-width: 600px) {
    .tabs-content__item {
      text-align: center;
      padding: 0 5%;
      padding-top: 4.375rem; } }

.tabs-list__text {
  color: #ffffff;
  font-size: 1.125rem;
  text-align: center;
  height: 0;
  visibility: hidden;
  opacity: 0; }

.screens {
  background-color: #ffffff;
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .screens-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 2.25rem;
    color: #00B8D4;
    margin-bottom: 3.125rem; }
  .screens-slider {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .screens-slider .slider {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 38px auto; }
      .screens-slider .slider .item {
        margin: 0 30px;
        display: none;
        width: 225px;
        height: 400px; }
        .screens-slider .slider .item.active {
          margin: 0 58px;
          display: block; }
        .screens-slider .slider .item img {
          display: block;
          max-width: 187px; }

@media all and (min-width: 1200px) {
  .screens {
    padding-top: 4rem; }
    .screens-slider .slider {
      margin: 80px auto; }
      .screens-slider .slider .item {
        display: block; }
        .screens-slider .slider .item.active {
          -webkit-box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 40px rgba(0, 0, 0, 0.25); }
        .screens-slider .slider .item img {
          max-width: inherit; } }

.slider-controls__prev, .slider-controls__next {
  width: 3.75rem;
  height: 1.875rem;
  position: absolute;
  display: block;
  z-index: 600; }
  @media screen and (max-width: 1200px) {
    .slider-controls__prev, .slider-controls__next {
      width: 3.125rem;
      height: 1.5625rem; } }
  @media screen and (max-width: 900px) {
    .slider-controls__prev, .slider-controls__next {
      width: 2.8125rem;
      height: 1.5625rem; } }
  @media screen and (max-width: 600px) {
    .slider-controls__prev, .slider-controls__next {
      width: 2.8125rem;
      height: 1.5625rem; } }
  @media screen and (max-width: 480px) {
    .slider-controls__prev, .slider-controls__next {
      width: 2.8125rem; } }
  @media screen and (max-width: 320px) {
    .slider-controls__prev, .slider-controls__next {
      width: 1.5625rem; } }
  .slider-controls__prev-icon, .slider-controls__next-icon {
    width: 100%;
    height: 100%;
    fill: #fff;
    cursor: pointer;
    opacity: 0.7; }
    .slider-controls__prev-icon:hover, .slider-controls__next-icon:hover {
      opacity: 1; }

.slider-controls__prev {
  top: 50%;
  right: 60%; }
  @media screen and (max-width: 1200px) {
    .slider-controls__prev {
      right: 65%; } }
  @media screen and (max-width: 900px) {
    .slider-controls__prev {
      right: 70%; } }
  @media screen and (max-width: 600px) {
    .slider-controls__prev {
      right: 90%; } }

.slider-controls__next {
  top: 50%;
  left: 60%; }
  @media screen and (max-width: 1200px) {
    .slider-controls__next {
      left: 65%; } }
  @media screen and (max-width: 900px) {
    .slider-controls__next {
      left: 70%; } }
  @media screen and (max-width: 600px) {
    .slider-controls__next {
      left: 90%; } }

.slider-controls__prev-icon {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .slider-controls__prev-icon:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.slider-controls__next-icon {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .slider-controls__next-icon:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.owl-item.center .item {
  -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.25); }
  .owl-item.center .item img {
    width: 100% !important; }

.item {
  width: 225px;
  height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .item img {
    width: auto !important; }

.feeds {
  background-color: #00B8D4;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
  padding-top: 3rem;
  padding-bottom: 6.3125rem; }
  @media screen and (max-width: 1200px) {
    .feeds {
      padding-left: 1.875rem;
      padding-right: 1.875rem; } }
  @media screen and (max-width: 320px) {
    .feeds {
      padding-bottom: 2.75rem; } }

.feeds-container {
  width: 68.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.feeds-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 4.1875rem; }

.feeds-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 320px) {
    .feeds-list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }
  .feeds-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 7.625rem; }
    .feeds-list__item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1200px) {
      .feeds-list__item {
        margin-right: 4.1875rem; } }
    @media screen and (max-width: 900px) {
      .feeds-list__item {
        margin-right: 0; } }
    @media screen and (max-width: 320px) {
      .feeds-list__item {
        margin-bottom: 3.125rem; } }

.feeds-list__text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 3.1875rem 2.5rem 1.5625rem 1.875rem;
  max-width: 30.3125rem;
  min-height: 18.125rem;
  border-radius: 0.9375rem;
  border-bottom-left-radius: 0;
  margin-bottom: 2.1875rem;
  position: relative; }
  @media screen and (max-width: 480px) {
    .feeds-list__text {
      padding-right: 1.875rem; } }
  .feeds-list__text:before {
    content: "";
    display: block;
    position: absolute;
    top: 98%;
    left: 0;
    width: 0;
    height: 0;
    border-top: 40px solid #fff;
    border-right: 70px solid transparent; }
    @media screen and (max-width: 320px) {
      .feeds-list__text:before {
        top: 98%;
        border-top: 30px solid #fff;
        border-right: 50px solid transparent; } }

.feeds-list__descrip {
  margin-bottom: 1.25rem; }

.feeds-list__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

.feeds-list__img {
  width: 6.3125rem;
  height: 6.3125rem; }
  @media screen and (max-width: 320px) {
    .feeds-list__img {
      width: 5.25rem;
      height: 5.25rem; } }

.feeds-list__ava {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%; }

@media screen and (max-width: 900px) {
  .feeds-list__item_hidden {
    display: none; } }

@media screen and (max-width: 320px) {
  .feeds-list__item_hidden {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.market {
  background-color: #fff;
  height: 100%;
  min-height: 100vh;
  padding-top: 4.4375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 0; }
  .market-container {
    width: 39.6875rem;
    position: relative; }
    .market-container-title {
      margin-bottom: 4.0625rem; }
    .market-container-phones {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      position: relative; }

.market-phones__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 10;
  position: relative; }
  @media screen and (max-width: 600px) {
    .market-phones__item {
      width: 19rem;
      height: 35.625rem; } }
  @media screen and (max-width: 480px) {
    .market-phones__item {
      width: 17.75rem;
      height: 30.625rem; } }

.market-phones__img {
  max-width: 100%;
  max-height: 100%; }

@media screen and (max-width: 600px) {
  .market-phones__item_size {
    -webkit-transform: translateX(230px);
    -ms-transform: translateX(230px);
    transform: translateX(230px); } }

@media screen and (max-width: 480px) {
  .market-phones__item_size {
    -webkit-transform: translateX(210px);
    -ms-transform: translateX(210px);
    transform: translateX(210px); } }

.market-phones__item_absolute {
  position: absolute;
  top: 245px;
  left: 40px;
  z-index: -1; }
  @media screen and (max-width: 600px) {
    .market-phones__item_absolute {
      top: 160px;
      left: 10%; } }
  @media screen and (max-width: 480px) {
    .market-phones__item_absolute {
      top: 150px;
      left: 13%; } }

.market-socials {
  position: absolute;
  top: 64%;
  right: 1%; }
  @media screen and (max-width: 1200px) {
    .market-socials {
      right: 0; } }
  @media screen and (max-width: 900px) {
    .market-socials {
      display: none; } }
